.gamma-loading {
	background-image: none;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #f5f5f5;
	color: #a5a5a5;
}
}
h1
{
	font-family: 'Montserrat', sans-serif;
}